#modal-impacts-description {
  overflow: auto;
}

#modal-impacts-description .fr-modal__body {
  max-height: unset !important;
  background-color: var(--background-alt-grey);
}

#modal-impacts-description .fr-container--fluid {
  overflow: unset;
}

#modal-impacts-description.fr-modal .fr-modal__content p:last-child {
  margin-bottom: 0;
}
