.fr-tooltip-without-placement-modal-impacts {
  /* custom style */
  position: absolute;
  --adjust-arrow-x: 0px;
  background-position:
    calc(50% - var(--adjust-arrow-x) + var(--arrow-x)) calc(100% - 0.5rem),
    calc(50% + var(--arrow-x)) calc(100% - 0.375rem),
    50% calc(100% - 0.75rem),
    50% calc(100% - 0.75rem);

  /* DSFR tooltip style */
  background-repeat: no-repeat;
  background-size:
    0.5rem 0.375rem,
    0.5rem 0.375rem,
    100% 1px,
    100% calc(100% - 0.75rem);
  color: #3a3a3a;
  color: var(--text-default-grey);
  display: block;
  font-size: 0.75rem;
  line-height: 1.25rem;
  opacity: 1;
  padding: 0.5rem 0.5rem 1.25rem;
  text-align: left;
  transition:
    opacity 0s 0.15s,
    visibility 0s 0.15s;
  visibility: visible;
  white-space: normal;
  background-image:
    conic-gradient(
      from -33.69deg at 50% 100%,
      transparent 0deg,
      var(--background-overlap-grey) 0deg,
      var(--background-overlap-grey) 67.38deg,
      transparent 67.38deg
    ),
    conic-gradient(
      from -33.69deg at 50% 100%,
      transparent 0deg,
      var(--border-default-grey) 0deg,
      var(--border-default-grey) 67.38deg,
      transparent 67.38deg
    ),
    linear-gradient(90deg, var(--border-default-grey), var(--border-default-grey)),
    linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey));
  filter: drop-shadow(var(--overlap-shadow));
  z-index: 1000;
  z-index: calc(var(--ground) + 1000);
  --arrow-x: -0.85px;
}
