@import "highcharts/css/highcharts";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Highcharts CSS override - pour les graphes avec le paramètre "styledMode": true */

.highcharts-container {
  font-family: Marianne;
}

.highcharts-background {
  fill: transparent;
}

.highcharts-grid-line {
  stroke: var(--highcharts-neutral-color-80);
}

.highcharts-graph {
  stroke-width: 0;
}

.highcharts-no-xaxis .highcharts-xaxis {
  display: none;
}

.highcharts-legend-item > text {
  font-weight: normal;
}

.highcharts-data-label {
  font-size: 0.875rem;
}

/* DSFR Customisation */

.fr-btn {
  border-radius: 4px;
}

.fr-modal__body {
  border-radius: 16px;
}

/* Ajout d’un statut warning sur le même modèle que error et success pour les inputs */

.fr-message--warning::before,
.fr-warning-text::before {
  -webkit-mask-image: url("/dsfr/icons/system/fr--warning-fill.svg");
  mask-image: url("/dsfr/icons/system/fr--warning-fill.svg");
}

.fr-select-group--warning label,
.fr-input-group--warning label,
.fr-range-group--warning label,
.fr-upload-group--warning label,
.fr-label--warning,
.fr-warning-text {
  color: var(--text-default-warning);
}

.fr-input-group--warning::before {
  background-image: linear-gradient(0deg, var(--border-plain-warning), var(--border-plain-warning));
}

/* Page Impacts: couleurs par type de projet */

#project-impacts-page {
  --highcharts-color-0: #137feb;
  --highcharts-color-1: #5aa5f1;
  --highcharts-color-2: #7db9f4;
  --highcharts-color-3: #a1ccf7;
  --highcharts-color-4: #106cc8;
  --highcharts-color-5: #0d59a5;
}
