.impacts-chart-card.column-chart .highcharts-title {
  font-size: 1.5rem;
  color: var(--text-title-grey);
}

.impact-chart-area.area-chart .highcharts-title {
  font-size: 1.25rem;
}

.impacts-chart-card .highcharts-subtitle {
  font-size: 0.875rem;
  color: var(--text-title-grey);
}

.impacts-chart-card .highcharts-title,
.impacts-chart-card .highcharts-subtitle {
  margin-bottom: 0.5rem;
}
