NODE_ENV=development
ENV_TYPE=local
PORT=4000

SESSION_SECRET=use-a-robust-secret

WEBAPP_URL=http://localhost:3000

# Auth
AUTH_JWT_SECRET=use-a-robust-secret
AUTH_JWT_EXPIRES_IN=7d
AUTH_CREATE_USER_ACCOUNT_URL=http://localhost:3000/premiers-pas/identite
AUTH_LOGOUT_CALLBACK_URL=http://localhost:4000/api/auth/logout-callback

# DB
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=use-a-robust-password
DATABASE_DB_NAME=benefriches_db

# Pro Connect
PRO_CONNECT_PROVIDER_DOMAIN=fca.integ01.dev-agentconnect.fr
PRO_CONNECT_CLIENT_ID=use-your-client-id
PRO_CONNECT_CLIENT_SECRET=use-your-client-secret
PRO_CONNECT_LOGIN_CALLBACK_URL=http://localhost:4000/api/auth/login-callback/pro-connect