name: Build and upload API artifact

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true

jobs:
  build-and-upload-api-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10.24.0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Create Archive
        run: ./apps/api/scripts/build-for-scalingo-v2.sh
      - name: Archive dist
        uses: actions/upload-artifact@v4
        with:
          name: api-scalingo-${{ inputs.tag }}
          path: api-scalingo.tar.gz
